@font-face {
    font-family: 'Overpass Mono';
      src: url('../fonts/overpass_mono/overpass-mono-light-webfont.woff') format('woff'),
            url('../fonts/overpass_mono/overpass-mono-light-webfont.woff2') format('woff2');
    font-weight: 300;
  }

body {

    color: #36454F;
    background-color: #ECECE7;
    font-family: 'Overpass Mono';
    /* background-image: url("idm231-images/brick-wall-painted-white.jpg");
    background-size: 50%; */
}

* {
box-sizing: border-box;
}

.words {
    display: flex;
    margin: 30px 10%;
    border: 15px solid #885638;
    padding: 0 20px;
    background-color: #31343a;
    color: #ECECE7;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 75px;
    left: 50%;
    box-shadow: 0 2px #31343a;
}

.words h1 {
    margin: 20px 0 10px 0;
}

.words h2 {
    margin: 10px;
}

.words label {
    margin: 5px;
}

.words button {
    margin: 5px;
}

/* .box {
    transform: translateX(-50%);
}
 */
.box1 {
    border: 2px solid #36454F;
    padding: 10px 220px;
    position: fixed;
    top: 215px;
    left: 140px;
    background-color: #885638;
    /* filter: drop-shadow(0 2px 4px #31343a); */
    
}

.box2 {
    border: 2px solid #36454F;
    padding: 10px 300px;
    position: fixed;
    top: 430px;
    left: 140px;
    background-color: #885638;
}

.box3 {
    border: 2px solid #36454F;
    padding: 10px 220px;
    position: fixed;
    top: 645px;
    left: 300px;
    background-color: #885638;
}

.Methods .shelf1 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: fixed;
    top: 94px;
    left: 140px;
}

.Methods .shelf2 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: fixed;
    top: 310px;
    left: 140px;
}

.Methods .shelf3 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: fixed;
    top: 525px;
    left: 300px;
}

.Methods .button:hover {
    opacity: 0.6;
  }


.button {
    background-color: transparent;
    border: none;
}

.button p {
    display: none;
}

.button img {
    height: 120px;
    padding: 0 10px;
}
.button img:hover {
    cursor: pointer;
    background-image: lighten(10%);

}

.back img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
}

.back {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
    background-color: transparent;
    border: none;
    width: 5rem;
    height: 5rem;
}

.back:hover {
    opacity: 0.7;
}

#helpButton img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
}

#helpButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    background-color: transparent;
    border: none;
    width: 7rem;
    height: 7rem;
}

#helpButton:hover {
    opacity: 0.7;
}

#helpMessage {
    display: none;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    right: 150px;
    z-index: 999;
}

#image {
    height: 400px;
    width: auto;
}

 .content {
text-align: center;
width: 50vw;
    padding: 0rem 1rem 0 5rem;
}

#image {
    
}