body {

    color: #36454F;
    background-image: url("idm231-images/brick-wall-painted-white.jpg");
    background-size: 50%;
}

* {
box-sizing: border-box;

}

.words {
    display: flex;
    margin: 30px 10%;
    border: 15px solid #885638;
    padding: 0 20px;
    background-color: #31343a;
    color: #ECECE7;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 75px;
    left: 50%;
    box-shadow: 0 -5% 2px #31343a;
}

.words h1 {
    margin: 20px 0 10px 0;
}

.words h2 {
    margin: 10px;
}

.words label {
    margin: 5px;
}

.words button {
    margin: 5px;
}

/* .box {
    transform: translateX(-50%);
}
 */
.box1 {
    border: 2px solid #36454F;
    padding: 10px 220px;
    position: fixed;
    top: 215px;
    left: 140px;
    background-image: url("idm231-images/wood.jpg");
    /* filter: drop-shadow(0 2px 4px #31343a); */
    
}

.box2 {
    border: 2px solid #36454F;
    padding: 10px 300px;
    position: fixed;
    top: 430px;
    left: 140px;
    background-image: url("idm231-images/wood.jpg");
}

.box3 {
    border: 2px solid #36454F;
    padding: 10px 220px;
    position: fixed;
    top: 645px;
    left: 300px;
    background-image: url("idm231-images/wood.jpg");
}

.Methods .shelf1 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: fixed;
    top: 94px;
    left: 140px;
}

.Methods .shelf2 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: fixed;
    top: 310px;
    left: 140px;
}

.Methods .shelf3 {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: fixed;
    top: 525px;
    left: 300px;
}

.Methods .button:hover {
    opacity: 0.6;
  }


.button {
    background-color: transparent;
    border: none;
}

.button p {
    display: none;
}

.button img {
    height: 120px;
    padding: 0 10px;

    &:hover { cursor: pointer; background-image: lighten(10%);
    }
}